<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Class Column -->
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Class</th>
      <td mat-cell *matCellDef="let row">{{row.class}}</td>
    </ng-container>

    <!-- Weak Column -->
    <ng-container matColumnDef="weak">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weak Against</th>
      <td mat-cell *matCellDef="let row">{{row.weak}}</td>
    </ng-container>

      <!-- Strong Column -->
      <ng-container matColumnDef="strong">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Strong Against</th>
        <td mat-cell *matCellDef="let row">{{row.Strong}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
