<div class="container-fluid d-flex flex-wrap">
    
    <div *ngFor="let html_fate of fate_team">
    
        <div class="card" style="width: 18rem;">
            <img src="{{ html_fate.image }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 style= "color:aqua;font-size: 20px;" class="card-title;">{{ html_fate.Name }}</h5>
            <p class="card-text">{{ html_fate.Class }}</p>
            <p class="card-text">Servant ID: {{ html_fate.id }}</p>
            <a href="#" class="btn btn-{{ html_fate.button }}">View Ascensions</a>
            </div>
        </div>
    </div>
</div>

        <h1 style="color:red;font-size:40px;">Hello</h1>
        <p style="color:blue;font-size:18px;">This is just sample text</p>